body {
    font-family:'Times New Roman', Times, serif;
}

.hero {
    max-width:100%;
    height: auto;
    background-color: #1f2937;
    padding-bottom: 70px;
}


.nav {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 400px;
}



.nav a{
    padding: 10px;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
}

.nav a:hover{
    color: #e81919;
    transition: .5s ease-in-out;

}



.nav img {
    width: 100px;
    height: auto;
    padding: 10px;
}

.inner-section {
   display:flex;
   justify-content: center;
   align-items: center;
   padding:70px;
}

.left-section h3 {
    text-transform: uppercase;
    color: #ffffff;
}

.left-section p {
    color: #ffffff;
}


.left-section {
    margin: auto;
    width: 400px;
}

.call-button {
    background-color:#d62525b9;
    padding: 10px;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    color: rgb(238, 201, 201);
    width: 100px;
}

.call-button:hover {
    background-color:#e81919;
    transition: .5s ease;
}

.right-section{
    margin:auto;
}

.right-section img {
    width: 400px;
    height: auto;
    background-size:cover;
    border: 1px solid rgb(238, 201, 201);
}