body {
    font-family:'Times New Roman', Times, serif;
}

.hero {
    max-width:100%;
    height: auto;
    background-color: #1f2937;
    padding-bottom: 70px;
}


.nav {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 400px;
}



.nav a{
    padding: 10px;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
}

.nav a:hover{
    color: #e81919;
    transition: .5s ease-in-out;

}

.nav img {
    width: 100px;
    height: auto;
}

.inner-section {
   display:flex;
   justify-content: center;
   align-items: center;
   padding:70px;
}

.left-section h3 {
    text-transform: uppercase;
    color: #ffffff;
}

.left-section p {
    color: #ffffff;
}


.left-section {
    margin: auto;
    width: 400px;
}

.call-button {
    background-color:#d62525b9;
    padding: 10px;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    color: rgb(238, 201, 201);
    width: 100px;
}

.call-button:hover {
    background-color:#e81919;
    transition: .5s ease;
    color: #ffffff;
}

.right-section{
    margin:auto;
}

.right-section img {
    width: 400px;
    height: auto;
    background-size:cover;
    border: 1px solid rgb(238, 201, 201);
    border-radius:10px;
}

#cats h1 {
    text-align: center;
    padding:30px;
}

.cats-section {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom:30px;

}


.cats-section img {
    max-width: 200px;
    height: auto;
    border: 1px solid rgb(238, 201, 201);
    border-radius:10px;
}

.cats-section img:hover{
    transition:.3s ease;
    border: 1px solid rgb(86, 11, 11);
    border-radius:10px;
}
.cats-section div {
    display: block;
    text-align: center;
}

#about {
    background-color: #E5E7EB;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-us {
    width: 50%;
    padding: 40px;
}

.about-us p {
    text-align: justify;
    font-weight: 400;
}

.about-us p span {
    color:#e81919;
    font-weight: 700;
}
.about-us h3 {
    text-align:right;
}

